@model List<User>


<form asp-action="AddUser" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="form-group  mb-3">
            <div>
                <p>Upload photo</p>
                <input multiple class="choose" type="file" name="file" />
            </div>
            <div class="form-group mb-3">
                <div>
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Add" />
                </div>
            </div>
        </div>
    </div>
</form>

@if (Model.Count > 0)
{
    <table>
        <tr>
            <td>Name</td>
            <td>DateOfBirth</td>
            <td>Married</td>
            <td>Phone</td>
            <td>Salary</td>
        </tr>
        @foreach (User item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Married</td>
                <td>@item.Phone</td>
                <td>@item.Salary</td>
            </tr>
        }
    </table>
}
