@model List<User>


<form asp-action="AddUser" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    <div class="mb-3">
        <h1 class="mb-2">Upload CSV</h1>
        <div class="form-group  mb-5">
            <div class="mb-3">                
                <input multiple class="choose" type="file" name="file" />
            </div>
            <div class="form-group mb-3">
                <div>
                    <input class="btn btn-primary" type="submit" value="Add" />
                </div>
            </div>
        </div>
    </div>
</form>

@if (Model.Count > 0)
{
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>DateOfBirth</td>
            <td>Married</td>
            <td>Phone</td>
            <td>Salary</td>
            <td>Options</td>
        </tr>
    </thead>
    <tbody>
        @foreach (User item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.Name</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Married</td>
                <td>@item.Phone</td>
                <td>@item.Salary</td>
                <td>
                    <div class="row">
                        <form asp-action="Edit" method="get" class="form-horizontal" role="form" enctype="multipart/form-data">
                            <div>
                                <button class="btn btn-dark" type="submit" name="userId" value="@item.UserId"> Редагувати</button>
                            </div>
                        </form>
                        <form asp-action="DeleteUser" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                            <div>
                                <button class="btn btn-danger" type="submit" name="userId" value="@item.UserId">Delete</button>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
}
